#content{
	background-color: #741891;
	height: 570px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#content .btn{
	border: 1px solid white; 
	background-color: #741891;
	color: white;
}
#content .btn:hover{
	border: 1px solid white; 
	background-color:  white;
	color: #741891;
}
#content .container h1{
	color: white;
	font-weight: bold;
	padding: 80px 0px;
	text-align: center;
}
#content .container p{

	text-align: center;
}

#content .container p a{
	font-size:30px;
	text-align: center;
	padding: 10px;
}
div .well{
	margin: 0px;
	padding: 0px;
	border: 0px;
	
}

.navbar .container-fluid{
	padding: 10px 0px;
}

#mm img {
	width:500px;
	height: 500px;
}

#mm .row div{
	padding: 10px 10px;
}